{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1>Connectez-vous</h1>

    <hr>

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">se
                déconnecter</a>
        </div>
    {% else %}
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="mb-3">
                <label for="inputEmail" class="form-label">Votre identifiant</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       autocomplete="email" required autofocus>
            </div>

            <div class="mb-3">
                <label for="inputPassword" class="form-label">Votre mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                       autocomplete="current-password"
                       required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}

            <div class="row">
            <a href="{{ path('register') }}" class="btn btn-secondary col-2">S'inscrire</a>
            <input class="btn btn-primary offset-8 col-2" type="submit" value="Se connecter">
            </div>
        </form>
    {% endif %}
{% endblock %}
