{% extends 'base.html.twig' %}

{% block title %}Formation {{ formation.code }}{% endblock %}

{% block body %}
    <h1>{{ formation.nom }}</h1>

    <hr>

    {% if is_granted('ROLE_USER') %}
        <div class="row">
            <a href="{{ path('formation_update', {'id': formation.id}) }}" class="btn btn-dark col-2">
                Modifier <i class="fa fa-pencil"></i>
            </a>

            {% if is_granted('ROLE_ADMIN') %}
                {{ include('formation/_delete_form.html.twig') }}
            {% endif %}
        </div>
    {% endif %}

    <section class="row mt-3">
        <h2>La formation</h2>

        <dl class="col-8 row">
            <dt>Commence le :</dt>
            <dd>{{ formation.startedAt|date('d/m/Y') }}</dd>

            <dt>Fini le :</dt>
            <dd>{{ formation.finishedAt|date('d/m/Y') }}</dd>

            <dt>Se déroule à :</dt>
            <dd>{{ formation.ville|upper }}</dd>

            <dt>Référent de la formation :</dt>
            <dd></dd>
        </dl>

        <img src="https://picsum.photos/id/{{ formation.id }}/300/200" class="img-thumbnail col-4" alt="illustration">
    </section>

    <section class="row mt-3">
        <h2>Le contenu</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut commodi expedita illum libero nemo porro
            quasi soluta. A atque cum doloremque exercitationem id libero maxime officiis praesentium qui rerum!</p>
        <p>Alias deleniti distinctio eum facere facilis in ipsam laboriosam molestias nemo numquam obcaecati, odit
            pariatur perspiciatis possimus reiciendis rem similique. Adipisci aliquid consequuntur corporis eveniet
            fugiat nihil omnis praesentium repellat!</p>
        <p>Cupiditate distinctio est, eum harum illum, minus, natus quas recusandae repudiandae saepe tempore vitae! Ab
            accusantium adipisci aliquid aperiam, autem dignissimos eius harum hic illo modi, non tempore voluptas
            voluptate.</p>
    </section>
{% endblock %}

